@import "header.scss";
@import "toolbar.scss";
@import "formula.scss";
@import "table.scss";
@import "dashboard";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
  "width" 300;
}

.excel {
  height: 100%;
  max-width: 100%;
  position: relative;
  color: #888;
  font-size: .8rem;
}
